{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "plugin:@next/next/recommended"
      // "eslint:recommended"
      // "plugin:@typescript-eslint/eslint-recommended",
      // "plugin:@typescript-eslint/recommended"
    ]
    // "rules": {
    //   "quotes": ["warn", "single"],
    //   "indent": ["warn", 4, { "SwitchCase": 1 }],
    //   "semi": ["error", "never"],
    //   "comma-dangle": ["warn", "always-multiline"],
    //   "dot-notation": "off",
    //   "eqeqeq": "warn",
    //   "curly": ["warn", "all"],
    //   "brace-style": ["warn"],
    //   "prefer-arrow-callback": ["warn"],
    //   "max-len": ["warn", 200],
    //   // "no-console": ["warn"],
    //   "no-non-null-assertion": ["off"],
    //   "comma-spacing": ["error"],
    //   "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
    //   "lines-between-class-members": ["warn", "always", {"exceptAfterSingleLine": true}],
    //   "@typescript-eslint/explicit-function-return-type": "off",
    //   "@typescript-eslint/no-non-null-assertion": "off",
    //   "@typescript-eslint/explicit-module-boundary-types": "off",
    //   "@typescript-eslint/no-explicit-any": "off",
    //   "@typescript-eslint/member-delimiter-style": ["warn"]
    // }
  }