[submodule "xal-node"]
	path = xal-node
	url = https://github.com/unknownskl/xal-node
[submodule "flatpak/amd-patched-mesa"]
	path = flatpak/amd-patched-mesa
	url = https://github.com/Originalimoc/amd-patched-mesa
