body, * {
    padding: 0px;
    margin: 0px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body {
    background: rgb(26, 27, 30);
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#appRoot {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#splashView, #authView, #appView, #xCloudView, #streamingView {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
}

/**
 Splash View
**/

#splashView {
    background: #000000;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

#splashView h1 {
    padding-top: 100px;

    color: #ffffff;
}
#splashView .lds-ring {
    padding-top: 50px;
}

/**
 Auth View
**/

#authView {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#authView .authBox {
    background: #000000;
    margin: 70px auto;
    width: 50%;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#authView .authBox h1 {
    color: #ffffff;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

#authView .authBox p {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

/**
 App View
**/

#appView {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#appView #appContent {
    padding-top: 70px;
}

#appView #appContent #consolesList {
    width: 70%;
    position: absolute;
    top: 70px;
    left: 0px;
}

#appView #appContent #friendsList {
    width: 30%;
    backdrop-filter: blur(20px);

    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 70px;
    max-width: 400px;
    overflow-y: auto;
}

#appView #appContent #friendsList p.center {
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#appView #appContent #friendsList .lds-ring {
    margin: 20px auto;
}

#appView #friendsList ul.people {
    padding-top: 10px;
}

#appView #friendsList ul.people li {
    display: block;
    height: 55px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#appView #friendsList ul.people li.offline {
    opacity: 0.3;
}
#appView #friendsList ul.people li.offline:hover {
    opacity: 0.7;
}

#appView #friendsList ul.people li .userimage {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#appView #friendsList ul.people div.userinfo p {
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 5px;
}

#appView #friendsList ul.people div.userinfo p.userstatus {
    font-size: 12px;
    opacity: 0.7;
}


/* Actionbar */

#actionBar {
    backdrop-filter: blur(20px);

    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    overflow: hidden;
    z-index: 80;
    opacity: 1;

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    
    /* -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; */
}

#actionBar.hidden {
    opacity: 0;
}

#actionBar.small {
    right: auto;
    width: 70px;

    /* -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; */
}

#actionBar a#actionBarLogo {
    float: left;
    color: #ffffff;
}
#actionBar a#actionBarLogo svg {
    fill: #ffffff;
    padding: 19px;
    opacity: 0.5;
}

#actionBar a#actionBarLogo img {
    padding: 15px;
    opacity: 0.5;
    border-radius: 20px;
}

#actionBar a#logo:hover img, #actionBar a#logo:hover svg {
    opacity: 0.75;
}

/* User profile */
#actionBar a#userProfileLogoLink {
    float: right;
    color: #ffffff;
    margin-top: 15px;
    margin-right: 20px;
}
#actionBar img#userProfileLogo {
    border-radius: 20px;
}




#actionBar ul {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
}

#actionBar ul.userProfile {
    float: right;
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
}

#actionBar ul li {
    display: inline-block;
    padding-right: 10px;
}

#actionBar ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
}

#actionBar ul li a:hover {
    opacity: 1;
}


#actionBar ul.userProfile span.gamerscore {
    background: #ffcf40;
    display: inline-block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* #actionBar ul.userProfile li {
    opacity: 0.7;
} */

#actionBar ul.userProfile li span#actionBarUserGamerscore {
    color: #ffffff;
    padding-top: 4px;
}


#consolesList {
    display: flex;
}

#consolesList div.consoleItem {
    background: #000000;
    width: 30%;
    margin: 48px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#consolesList div.consoleItem h1 {
    font-size: 28px;
    display: block;
}

#consolesList div.consoleItem h2 {
    font-size: 14px;
    font-weight: normal;
    opacity: 0.3;
    display: block;
}

#consolesList div.consoleItem img {
    padding-top: 10px;
    padding-bottom: 15px;
}

#consolesList div.consoleItem p {
    padding-top: 10px;
    padding-bottom: 15px;
}

/**
 xCloud View
**/


#xCloud {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
}

#xCloudSearch {
    /* */
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

#xCloudSearch input#xCloudSearchInput {
    background:rgba(0, 0, 0, 0.55);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 99%;
    outline: none;
}

#xCloudGames {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

#xCloudContent {
    padding-top: 70px;
}

/* #xCloud .btn {
    margin: 40px;
    padding-top: 0px;
} */

#xCloudGames div.titleWrap {
    width: 25%;
    padding-top: 40px;
    /* padding-bottom: 40px; */
}

#xCloudGames div.titleItem {
    background: #000000;
    color: #ffffff;
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
}

#xCloudGames span.titleName {
    position: relative;
    padding-bottom: 5px;
    font-size: 14px;
    opacity: 0.7;
    top: 5px;
    left: 5px;
}

#xCloudGames img.titleImage {
    max-width: 25%;
    float: left;
    margin-right: 10px;
}

#xCloudGames .btn-xcloud-start {
    margin: 5px;
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/**
 Streaming View
**/

#streamingView #videoHolder {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#streamingView div#loadingScreen {
    background: #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 118px auto;
}

#streamingView div#loadingScreen .lds-ring {
    padding-top: 50px;
    padding-bottom: 50px;
}

#streamingView div#loadingScreen p {
    opacity: 0.5;
}

#streamingView div#loadingScreen p#loadingStatus {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

#streamingView #debugLeftBottom {
    /* backdrop-filter: blur(20px); */
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 20px;   
    z-index: 90;
    opacity: 0.7;
}

#streamingView #debugRightBottom {
    /* backdrop-filter: blur(20px); */
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    z-index: 90;
    opacity: 0.7;
}

#streamingView #debugRightTop {
    /* backdrop-filter: blur(20px); */
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 90;
    opacity: 0.7;
}

#streamingView #debugLeftBottom:hover, #streamingView #debugRightBottom:hover, #streamingView #debugRightTop:hover {
    opacity: 1;
}

#streamingView #debugLeftBottom p, #streamingView #debugRightBottom p, #streamingView #debugRightTop p {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

#streamingView #modalDialog {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 85;
}
#streamingView .modalDialogBg {
    backdrop-filter: blur(20px);
    background-color: #000000;
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    z-index: 86;
}

#streamingView .modalDialogBox {
    position: absolute;
    background-color: #000000;
    top: 25%;
    left: 0px;
    right: 0px;
    z-index: 87;
    opacity: 1;
    color: #ffffff; 
    box-shadow: 0px 0px 100px rgba(0, 95, 0, 0.1)
}

#streamingView .modalDialogContainer {
    width: 70%;
    margin: 50px auto;
}

#streamingView .modalDialogContainer h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#streamingView .modalDialogContainer p {
    font-size: 16px;
    margin-bottom: 40px;
}

#streamingView .modalDialogContainer button.btn {
    margin-right: 20px;
    padding-top: 0px;
}


#streamingView #networkIndicator {
    /* backdrop-filter: blur(20px); */
    background: #000000;
    position: relative;
    margin: 100px auto;
    min-width: 100px;
    max-width: 250px;
    height: 100px;
    z-index: 98;
    border-radius: 50px;
    opacity: 0.75;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#streamingView #networkIndicator.hidden {
    opacity: 0;
}

#streamingView #networkIndicator span.icon {
    position: relative;
    top: 4px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
    color: #ffffff;
    display: inline-block;
}

#streamingView #networkIndicator p {
    font-size: 12px;
    color: #ffffff;
    display: inline-block;

    position: relative;
    top: 18px;
}

/**
 Button Classes
**/

.btn {
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(26, 27, 30);  
    border: 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 140px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    
    padding-top: 16px;
    height: 32px;
    text-decoration: none;
    text-align: center;
}

button.btn {
    height: 48px;
}

button.btn-small {
    height: 24px;
    padding-top: 0px;
    min-width: 20px;
}

.btn-primary {
    background-color: green;
}

.btn-cancel {
    background-color: rgb(155, 0, 0);
}

#actionBar .btn {
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    min-width: auto;

}

/**
 Loading animation
**/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid green;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: green transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}