body {
    background: rgb(26, 27, 30);
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
}

#xHomeConsoleList div.consoleItem {
    display: inline-block;
    width: 300px;
}

#xCloudRender {
    width: 960px;
    height: 540px;
    border: 1px solid #ffffff;
}