body, * {
    padding: 0px;
    margin: 0px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body {
    background: rgb(26, 27, 30);
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
}

@import 'components/header.css';
@import 'components/footer.css';
@import 'components/auth.css';

/* 
 * UI Components
 */
@import 'components/ui/button.css';
@import 'components/ui/card.css';
@import 'components/ui/label.css';
@import 'components/ui/streamcomponent.css';

@import 'components/sidebar/friends.css';
@import 'components/sidebar/frienditem.css';

div#app_body {
    position: fixed;
    padding-top: 70px;
    left: 0px;
    width: 70vw;
    height: 100vh;
}

div#app_sidebar {
    position: fixed;
    padding-top: 70px;
    right: 0px;
    width: 30vw;
    height: 100vh;
    overflow-y: auto;

    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.3);
}