div#streamComponent {
    background: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 95;
}

div#streamComponent video {
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 96;
}

div#component_streamcomponent_debug {
    z-index: 98;

    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 30vh;
}

div#component_streamcomponent_debug.hidden {
    display: none;
}

div#component_streamcomponent_gamebar {
    z-index: 97;

    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

div#component_streamcomponent_gamebar.hidden {
    opacity: 0;
}

div#component_streamcomponent_gamebar div#component_streamcomponent_gamebar_menu {
    padding-top: 13px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
}

div#component_streamcomponent_loader {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

div#component_streamcomponent_loader.hidden {
    display: none;
}